body{
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

h1{
    color: red;
    font-size: 100px;
    text-align: center;
    position: relative; top: -60px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}


.btns{
    display: flex;
    justify-content: space-evenly;
    position: relative; top: -250px;
    
}

#gameOver{
    display: none;
    position: relative; right: -620px; top: -400px;
}
.espValues{
    color:black;
    display: flex;
    justify-content: space-evenly;
    position: relative; top: -130px;
    font-size: 48px;
}

.esptext{
    display: flex;
    justify-content:space-evenly;
    position: relative; top: -460px;
    text-decoration: underline;
    font-weight: 900;
    font-size: 42px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: red;
}

.texts{
    display: flex;
    justify-content:center;
    position: relative; top: -440px;
    font-size: 28px;
    padding-right: 10px;
}

#eatBtn, #sleepBtn, #playBtn, #startBtn{
    font-size: 24px;
}

#ageText{
    padding-left: 10px;
    text-decoration: underline;
}

#eatVal{
    position: relative; right: 30px;
}

#playVal{
    position: relative; left: 20px; 
}

#pet{
    font-size: 48px;
    position: relative; top: -400px; right: -910px;
}